In [ ]:
square = lambda x: x**3
square (2)

8

In [3]:
square = lambda a: a**4
square(4)

256

In [ ]:
def square(a):
    return a**2

In [6]:
square(3)

9

In [7]:
def add(a,b):
    return a+b

In [8]:
add(4,4)

8

In [9]:
def dif(x,y):
    return x-y

In [10]:
dif(30,10)

20

In [11]:
prod = lambda x,y: x*y
prod(4,4)

16

In [13]:
mod = lambda x,y: x%y
mod(15,2)

1

In [14]:
def mod(x,y):
    return x%y

In [15]:
mod(15,2)

1

In [16]:
Employees = [ 
    {"name":"raja" , "age":36},
    {"name":"raju" , "age":40},
    {"name":"karthika", "age":7},
    {"name":"dharan", "age":10}
]

In [25]:
sorted_by_age = sorted(Employees,key = lambda a:a["age"])

In [26]:
sorted_by_age

[{'name': 'karthika', 'age': 7},
 {'name': 'dharan', 'age': 10},
 {'name': 'raja', 'age': 36},
 {'name': 'raju', 'age': 40}]

In [27]:
fruits = [
    {"name": "Apple", "price": 200},
    {"name": "banana", "price":300},
    {"name": "kiwi", "price":150}
]

In [30]:
sorted_by_price = sorted(fruits,key = lambda x:x["price"])

In [31]:
sorted_by_price

[{'name': 'kiwi', 'price': 150},
 {'name': 'Apple', 'price': 200},
 {'name': 'banana', 'price': 300}]

In [1]:
# High Ordered Functions
#map() transform each item
#filter() select some items
#reduce() combines items into one
nums = [1,2,3,4]
squared_1st=[]
for i in nums:
    squared_1st.append(i**2)

In [2]:
squared_1st

[1, 4, 9, 16]

In [3]:
fruits = ("apple", "banana")
add_1st = []
for i in fruits:
    add_1st.append(i + "kiwi" )

In [4]:
add_1st

['applekiwi', 'bananakiwi']

In [5]:
squared_map = list(map(lambda x: x ** 2,nums))

squared_map

[1, 4, 9, 16]

In [6]:
squared_map

[1, 4, 9, 16]

In [ ]:
prod_map = list(map(lambda a: a*a, nums))  # with lamda
prod_map

[1, 4, 9, 16]

In [8]:
sub_map = list(map(lambda a: a+a, nums))
sub_map

[2, 4, 6, 8]

In [9]:
person_bags = [10,20,5,30]
each_rate = 100
total_rate = []
for i in person_bags:
    total_rate.append(i*each_rate)

In [10]:
total_rate

[1000, 2000, 500, 3000]

In [ ]:
sub_total = list(map(lambda a: a * each_rate,person_bags )) #with lamda
sub_total

[1000, 2000, 500, 3000]

In [19]:
#filter
nums = [1,2,3,4,5,6,7,8,9,10]
even_number = []
for i in nums:
    if i % 2 == 0:
        even_number.append(i)

In [20]:
even_number

[2, 4, 6, 8, 10]

In [30]:
odd_number = []
for i in nums:
    if i % 2 != 0:
        odd_number.append(i)

In [31]:
odd_number

[1, 3, 5, 7, 9]

In [37]:
even_num = list(filter(lambda x: x % 2 == 0 , nums))

In [38]:
even_num

[2, 4, 6, 8, 10]

In [42]:
odd_num = list(filter(lambda x: x % 2 != 0, nums))
odd_num

[1, 3, 5, 7, 9]

In [45]:
price_list = [
    {"name":"tab" , "rate":15000},
    {"name":"iphone" , "rate":55000},
    {"name":"smartphone" , "rate":25000},
    {"name":"laptop" , "rate":46000}
]
budget = 26000
buy_products = list(filter(lambda x: x["rate"] <= 26000,price_list))
buy_products

[{'name': 'tab', 'rate': 15000}, {'name': 'smartphone', 'rate': 25000}]

In [63]:
normal_prod = []
for i in price_list:
    if i["rate"] <= budget:
        normal_prod.append(i)

In [64]:
normal_prod

[{'name': 'tab', 'rate': 15000}, {'name': 'smartphone', 'rate': 25000}]

In [67]:
# Reduce
from functools import reduce
nums = [1,2,3,4,5,6]
total_reduce = reduce(lambda x,y: x+y,nums)
total_reduce

21

In [68]:
total_nums = 0
for i in nums:
    total_nums += i

In [69]:
total_nums

21

In [75]:
students = [
    {"name":"rajashekhar" , "score":[80,86,90]},
    {"name":"karthika" , "score":[70,99,98]},
    {"name":"rajitha" , "score":[69,70,79]},
    {"name":"dharanteja", "score":[86,89,90]}
]
toppers = list(map(lambda s: s["name"],
filter(lambda s: sum(s["score"])/len(s["score"]) > 80,students)))

In [76]:
toppers

['rajashekhar', 'karthika', 'dharanteja']