In [ ]:
def wish(name):   # outer function
    greet = "hey" # outer function variable

    def make_message():   # Inner function
        return f' {greet} , {name}'
    
    message = make_message()

    print(message)

In [3]:
wish("rajashekhar")

 hey , rajashekhar

In [6]:
def greet(call):
    greeting = "hey"

    def message_do():
        return f" {greeting} , {call}"
    ask = message_do()

    print(ask)

In [7]:
greet("who are you")

 hey , who are you

In [24]:
def calculator(ops):
    def add(a,b):
        return a+b
    def substract(a,b):
        return a-b
    def multiply(a,b):
        return a*b
    
    if ops == "add":
        return add
    elif ops == "substract":
        return substract
    elif ops == "multiply":
        return multiply

In [ ]:
substract = calculator("substract")
substract(10,5)

5

In [26]:
multiply = calculator("multiply")
multiply(4,5)

20

In [3]:
num1 = int(input("enter first number:"))
num2 = int(input("enter the second number:"))

ops = input("enter operation (+,-,*,/):")
if ops == "+":
    res = num1 + num2
elif ops == "-":
    res = num1 - num2
elif ops == "*":
    res = num1 * num2
elif ops == "/":
    res = num1 / num2 
else:
    print("Invalid Operation")
    print("res:",res)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#Type Hinting
def basic_type (a:int , b:int) -> int:
    return a*b

In [ ]:
basic_type(4,5)

20

In [7]:
def bag_price(name: str , cost: int) -> str:

    return f" i bought new {name} , and the price is {cost}"

In [8]:
bag_price("laptop bag", 500)

' i bought new laptop bag , and the price is 500'

In [1]:
# Union, Any, List, Dict, Optional, Tuple
from typing import Union, Any, List, Dict, Optional, Tuple

A = {"apple" , "banana"}
B = {"kiwi" , "orange"}
C = {"grapes" , "avakado"}

result_set = A.union(B,C)

In [2]:
result_set

{'apple', 'avakado', 'banana', 'grapes', 'kiwi', 'orange'}

In [ ]:
def make_upper(data: union[int,str]) -> str:
    return str(data).upper()

In [4]:
make_upper(656)

'656'

In [5]:
make_upper("rajashekhar")

'RAJASHEKHAR'

In [24]:
def get_user_id(user_input: Union[str,int]) -> str:
    return str(user_input)

In [ ]:
get_user_id(2103022)

'2103022'

In [28]:
get_user_id("raja")

'raja'

In [37]:
def list_sum(nums: list [int]) -> int:
    return sum(nums)

In [38]:
nums = [2,5,8,9]
list_sum(nums)

24

In [46]:
def return_dict(name: str, age: int)-> dict[str, Union[str,int]]:

    return{"name":name, "age":age}

In [45]:
return_dict("raju" , 40)

{'name': 'raju', 'age': 40}

In [50]:
return_dict("sai",30)

{'name': 'sai', 'age': 30}

In [56]:
def make_greet(name: Optional[str] = None) -> str:
    if name is None:
        return " hey man"
    return f" hey {name}"

In [54]:
make_greet()

' hey man'

In [55]:
make_greet("raj")

' hey raj'